/* Typography */

@font-face {
  font-family: 'Zirkon';
  src: 
  url('../fonts/121101_zirkon_regular_2.otf'),
  url('../fonts/121101_zirkon_regular_2.otf') format('embedded-opentype');
  font-weight: 400;
}

/* Font Loader */

@font-face {
    font-family: 'SuisseWorks';
    src: url('../fonts/SuisseWorks-Book-WebXL.eot');
    src: url('../fonts/SuisseWorks-Book-WebXL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SuisseWorks-Book-WebXL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseWorksItalic';
    src: url('../fonts/SuisseWorks-BookItalic-WebXL.eot');
    src: url('../fonts/SuisseWorks-BookItalic-WebXL.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SuisseWorks-BookItalic-WebXL.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


html, body {
  font-family: 'SuisseWorks', Times, sans;
  font-size: 1.4vmax;
  line-height: 1.4em;
  letter-spacing: 0px;
}

h1 {
  font-family: 'Zirkon', Arial;
  font-size: 4rem;
  line-height: 1.1em;
  letter-spacing: -2px;
  margin-left: 12.5%;
}

h2 {
  font-size: 1.9rem;
  line-height: 1.15em;
  margin-top: 0em;
  text-indent: 12.5%;
}

h3 {
  font-size: 0.8rem;
}

li {
  font-size: 2rem;
  list-style: disc;
  margin-right: 1.5rem;
  margin-top: 2rem;
}

p {
  margin: 0.2em 0 0.6em 0;
}

a {
  color: #000;
  text-decoration: none;
  border: 1px solid transparent;
  -webkit-transition: all 150ms ease-out 0s;
  -moz-transition: all 150ms ease-out 0s;
  -o-transition: all 150ms ease-out 0s;
  transition: all 150ms ease-out 0s;
}

a:hover {
    color: black;
    border: 1px solid #D4ABBB;
    background: #D4ABBB;
  /*  text-shadow: 0 0 5px rgba(243,181,181,0.6); */
}

header {
  font-size: 0.8rem;
}

.description {
  font-size: 2rem;
  line-height: 1.3em;
  margin-top: 0.2em;
}

.description.small {
  font-size: 1rem;
}

/* .description a,
  a.site-link {
  border-bottom: 0px solid #000;
} */

.site-link:hover,
a.site-link:hover {
    color: black;
}

.site-link {
  display: inline-block;
  /*cursor: pointer;*/
  background: none;
  padding: 1rem 1rem 0.8rem 1.25rem;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 0.8rem;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.site-link:after {
  content: '▶';
  font-size: 0.35rem;
  padding-left: 1.1rem;
  padding-bottom: 1em;
  display: inline-block;
  transform: translateY(-7%);
}

.site-link:hover,
.site-link:focus {
   /* box-shadow: 0 0 5px rgba(243,181,181,0.6);
    text-shadow: 0 0 0px rgba(243,181,181,0.0);
    transform: scale(1.05,1.05);
    -o-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);  */
    -webkit-transition: all 150ms ease-out 0s;
    -moz-transition: all 150ms ease-out 0s;
    -o-transition: all 150ms ease-out 0s;
    transition: all 150ms ease-out 0s;
}

.micro {
  margin-bottom: 50vh;
}

/*.project .button {
    display: inline-block;
    position: relative;
    bottom: 2px;
}*/

/*.site-link {
  padding-top: 0.75rem;
  display: inline-block;
}*/

/*button, .button {
    cursor: pointer;
    background: none;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    border: 1px solid #333;
    font-size: 0.75rem;
    -webkit-transition: all 150ms ease-out 0s;
    -moz-transition: all 150ms ease-out 0s;
    -o-transition: all 150ms ease-out 0s;
    transition: all 150ms ease-out 0s;
}

button:hover, button:focus,
.button:hover, .button:focus {
    outline: 0;
    border-color: #ddd;
    color: #fb653f;
    box-shadow: 0 0 5px rgba(243,181,181,0.6);
    text-shadow: 0 0 0px rgba(243,181,181,0.6);
}*/



.loading {
  font-family: 'Zirkon', Arial;
  color: #000;
  position: fixed;
  left: auto;
  z-index: 9999;
  font-size: 0.65rem;
  line-height: 1.5rem;
  padding-top: 0.6em;
  text-transform: uppercase;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-image: url('../img/lines.svg');
  background-size: cover;
  background-repeat: repeat-x;
  background-color: #fff;
  fill: #ace63c; 
  -webkit-animation-name: MOVE-BG;
  -webkit-animation-duration: 80s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-name: MOVE-BG;
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  @-moz-animation-name: MOVE-BG;
  @-moz-animation-duration: 80s;
  @-moz-animation-timing-function: linear;
  @-moz-animation-iteration-count: infinite;
}

@-webkit-keyframes MOVE-BG {
    from {
        background-position: 0% 0%
    }
    to { 
        background-position: -1000px 0%
    }
}

@keyframes MOVE-BG {
    from {
        background-position: 0% 0%
    }
    to { 
        background-position:  -1000px 0% 
    }
}

@-moz-keyframes MOVE-BG {
    from {
        background-position: 0% 0%
    }
    to { 
        background-position: 187% 0%
    }
}

@-o-keyframes MOVE-BG {
    from {
        background-position: 0% 0%
    }
    to { 
        background-position: 187% 0%
    }
}

.logo img{
  display: block;
  position: fixed;
  bottom:1rem;
  left:1rem;
  height:0.8rem;
  width: auto;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.92);
  padding: 0;
  z-index: 10;
  line-height: 1.5rem;
  /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

nav ul li:first-child {
  padding-left: 0;
}

nav ul li{
  margin-top: 0;
  border-left: 1px solid rgba(0,0,0,0.1);
  padding: 0.4rem 0 0.2rem 0.4rem;
}

nav ul li:first-child {
  border: 0;
}

.header-menu * {
  text-transform: uppercase;
  font-family: 'Zirkon', Arial;
  font-size: 0.65rem;
}

.bk {
  display: none;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  position: fixed;
  top: 0;
  background-image: url(../content/bk.jpg)
}

.arrows {
/*  position: absolute;
  top: 90%;
  right: 25px;*/
  float: right;
  opacity: 0.4;
  border-left: 1px solid #b3b3b3;
  padding: 0.4rem 0 0.2rem 0.4rem;
}

.arrows span {
  font-size: 0.3rem;
}

.arrows-text {
  display: inline-block;
  font-size: 0.65rem;
  margin-right: 3px;
}

.arrows button {
  background: none;
  padding: 0.4em 0.8em;
  border-radius: 4px;
  border: 1px solid #333;
  display: inline-block;
  margin: 3px;
  transform: translateY(-10%);
}

/*.about h1 {
  margin-left: -5px;
}*/

.about h3 {
  margin-top: -21px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.about ul {
  margin-bottom: 1rem;
}

.about li {
  display: inline-block;
  margin: 0 0.4rem 0 0;
}

.about li:before {
  content: "◦ ";
  color: #a6a6a6;
}

.container {
  margin-top: 3em;
}

.section {
  min-height: 100vh;
  padding: calc(2em + 2px) 0 0 0;
}

.section hr {
  border: 0;
  border-top: 1px solid black;
  width: 100%;
  height: 1px;
  display: block;
  margin-bottom: 2em;
  margin-top:0;
}

.section.title,
.section.header {
/*  padding-left: 1.5rem;
  padding-right: 1.5rem;*/
}

.section.more-work-container {
  min-height: 100%;
  margin-bottom: 12rem;
}

.section.more-work-container h1 {
  margin-bottom: 6rem;
}

.section.more-work-container h2 {
  margin-bottom: 1rem;
}

.section.more-work-container p {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.inline-block-container {
  font-size: 0px;
}

.inline-block-container > * {
  vertical-align: top;
}

.inline-block-container p {
  font-size: 1rem;
  line-height:1.25em;
}

.sub-section {
  margin-bottom: 2.5em;
}

.overflow {
  overflow: hidden;
  height: 90%;
}

.no-padding {
  padding-top: 0;
}

.max-height {
  max-height: 100vh;
  display: table;
}

table.L-1-2, table.L-1-3 {
  float: left;
  padding-right: 0.5em;
}

th, tr, td {
  width: 100%;
  text-align: left;
  padding: 0.2em 0.4em;
  float: left;
  font-weight: normal;
}

.table-cell-title {
  padding: 0.5em 1em;
  margin-top: 1.5em;
  border-top: 1px solid #000;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 0px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid #000;
}

tr {
  border-left: 1px solid rgba(0,0,0,0.1);
}

td {
  display:list-item;
  list-style-position: inside;
  font-family: 'Zirkon', Arial;
  font-size: 0.65rem;
  line-height: 1.2em;
  text-transform: uppercase;
  list-style-type: disc;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
}

.video-column  {
  display: table-cell;
  vertical-align: top;
  width: calc(100vw - 400px);
  max-width: 1200px;
  padding-top: 2em;
}

.caption-column {
  width: 250px;
  padding: 2em 0px 0 25px;
}

.caption-column * {
    font-family: 'Zirkon', Arial;
    text-transform: uppercase;
    font-size: 0.55rem;
    line-height: 1.5em;
    margin-left: 0rem;
    margin-top: 0rem;
}

.caption-column li {
  list-style: none;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.4%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%;
  left: 0%; 
  background-color: transparent;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border: 0px solid black;
} 

.embed-container video {

}

.embed-container.arena {
  padding-bottom: 53.4%; 
}

.embed-container.br {
  padding-bottom: 55.1%; 
}

.embed-container.vrdc {
  padding-bottom: 54.1%; 
}

.embed-container.mate {
  padding-bottom: 54.4%; 
}

.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0%; 
  width: 100.9%;  
  height: 100.1%; 
}

.brand-assets {
  height: auto;
  padding-top: 4rem;
}

.brand-assets > *{
  padding-top: 1rem;
  padding-bottom: 6rem;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

/* Medium (like ipad portrait) */

@media screen and (max-width: 1350px) {
  .trunk {
    max-width: 90%;
    left: 5%;
  }
}

@media screen and (max-width: 1200px) {
  html, body {
    font-size: 17px;
  }

  .trunk {
    max-width: 90%;
    left: 5%;
  }

  .header-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  html, body {
    font-size: 8px;
  }

  .section.more-work-container p, .inline-block-container p {
    font-size: 1.5rem;
  }

  .gutters {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .first h1 {
    margin-left: 0;
  }

  p, h3, .site-link {
    font-size: 1.6rem;
  }

  .first h3 {
    margin-top: 0;
    line-height: 1em;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-aspect-ratio: 10/10) { 
  .section {
    min-height: 0;
    padding: 3em 0 0 0;
  }

  .section.header {
    padding: 12em 0 0 0;
  }

  .section.first {
    padding-top: 3em;
  }

}

